* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Young+Serif&display=swap');

body {

    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
}

a {
    text-decoration: none;
}

.menu,
.settings {
    cursor: pointer;
    margin: 20px 0;
    width: 25px;
    fill: white;
}

.menu:hover,
.settings:hover {
    fill: #ff4b2b;
}

.menu {
    margin-left: 20px;
    position: absolute;
    top: 0;
    left: 0;
}

.settings {
    margin-right: 20px;
    position: absolute;
    top: 0;
    right: 0;
}

img {
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    border: 5px solid white;
    transition: all 0.3s ease;
}

img:hover {
    transform: scale(1.1);
    border-color: #ff4b2b;
}

h2,
.top-section {
    margin: 0 0 5px 0;
    text-align: center;
}

.icons {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.icons a {
    color: white;
    padding: 0 10px;
    font-size: 25px;
}

.icons a:hover {
    color: #ff4b2b;
}

.main-container {
    max-width: 400px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2)
}

.profile {
    position: relative;
    padding: 30px 0 20px 0;
}

.top-section {
    color: white;
    padding: 10px 20px 20px;
    border-radius: 15px;
    background: linear-gradient(135deg, #4070F4, #7040F4);
    transition: transform 0.3s ease;
}

.bottom-section {
    padding: 20px;
    text-align: left;
    transition: transform 0.3s ease;
    margin: 20px;
    margin-bottom: 10px;
}

button {
    display: block;
    width: 150px;
    margin: 0 auto;
    padding: 10px;
    font-weight: bolder;
    margin-bottom: -40px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    background: linear-gradient(135deg, #ff416c, #ff4b2b);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background: linear-gradient(135deg, #ff4b2b, #ff416c);
    transform: scale(1.1);
}

.bottom-section h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #4070F4;
    margin-bottom: 10px;
}

.bottom-section p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: #333;
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    overflow: hidden;
}
